<footer class="text-center lg:text-left bg-gray-100 text-gray-600 text-sm">
    <div class="flex justify-center items-center lg:justify-between p-4 border-b border-gray-300">

      <div class="mr-12 hidden lg:block">
        <span>Our social media networks:</span>
      </div>

      <div class="flex justify-center">
        <a href="#!" class="mr-6 text-gray-600">
          <img class="w-5" src="assets/social-media-icons/Facebook SVG.svg" alt="Facebook icon"/>
        </a>
        <a href="#!" class="mr-6 text-gray-600">
            <img class="w-5" src="assets/social-media-icons/Twitter SVG.svg" alt="Twitter icon"/>
        </a>
        <a href="#!" class="mr-6 text-gray-600">
            <img class="w-5" src="assets/social-media-icons/Gmail SVG.svg" alt="Gmail icon"/>
        </a>
        <a href="#!" class="mr-6 text-gray-600">
          <img class="w-5" src="assets/social-media-icons/Instagram SVG.svg" alt="Instagram icon"/>
        </a>
        <a href="#!" class="mr-6 text-gray-600">
            <img class="w-5" src="assets/social-media-icons/LinkedIn SVG.svg" alt="LinkedIn icon"/>
        </a>
        <a href="#!" class="text-gray-600">
            <img class="w-5" src="assets/social-media-icons/GitHub SVG.svg" alt="GitHub icon"/>
        </a>
      </div>
    </div>

    <div class="mx-6 py-6 text-center md:text-left ">
        <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div>
                <h6 class="uppercase font-semibold mb-4 flex items-center justify-center md:justify-start">
                    <img class="w-5 mr-2" src="assets/icons/Crown.svg" alt="Crown icon"/>
                    Apparatus
                </h6>

                <p>
                    "Don't make things more complicated than they are"
                </p>
            </div>

            <div>
                <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
                    Useful links
                </h6>
                <p class="mb-4">
                    <a href="#!" class="text-gray-600">Privacy Policy</a>
                </p>
                <p class="mb-4">
                    <a href="#!" class="text-gray-600">Settings</a>
                </p>
                <p class="mb-4">
                    <a href="#!" class="text-gray-600">Orders</a>
                </p>
                <p>
                    <a href="#!" class="text-gray-600">Help</a>
                </p>
            </div>

            <div>
                <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
                    Contacts
                </h6>
                
                <p class="flex items-center justify-center md:justify-start mb-4">
                    <img class="w-5 mr-2" src="assets/icons/House.svg" alt="House icon"/>
                    4481 Ross Street, Newborn, CA 10012, US
                </p>

                <p class="flex items-center justify-center md:justify-start mb-4">
                    <img class="w-5 mr-2" src="assets/icons/Letter.svg" alt="Letter image"/>
                    <a href="mailto:apparatus@apparatus.com">apparatus@apparatus.com</a>
                </p>

                <p class="flex items-center justify-center md:justify-start mb-4">
                    <img class="w-4 mr-3" src="assets/icons/Phone.svg" alt="Phone icon"/>
                    <a href="tel:2345678899">+ 1 (234) 567 88-99</a>
                </p>

                <p class="flex items-center justify-center md:justify-start">
                    <img class="w-5 mr-2" src="assets/icons/Fax.svg" alt="Fax icon"/>
                    + 1 (234) 567 89-22
                </p>
            
            </div>
        </div>
    </div>

    <div class="text-center p-2 bg-gray-200 text-xs">
      <span>© 2022 </span>
      <a class="text-gray-600 font-semibold" routerLink="/">Apparatus</a>
    </div>
  </footer>