<form [formGroup]="form" (ngSubmit)="submit()">
    <span class="grid grid-cols-2 gap-x-3">
        <span>
            <label class="text-gray-600/90 font-semibold" for="firstName">First Name</label>
            <input 
                type="text"
                name="firstName" 
                class="w-full px-1 py-[2px] border border-solid border-gray-700/30 rounded-sm focus:outline-blue-200"
                formControlName="firstName"
                appFocus
                autocomplete="off"
            >
        </span>
        <span>
            <label class="text-gray-600/90 font-semibold">Last Name</label>
            <input 
                type="text" 
                class="w-full px-1 py-[2px] border border-solid border-gray-700/30 rounded-sm focus:outline-blue-200"
                formControlName="lastName"
                autocomplete="off"
            >
        </span>
    </span>


    <label class="text-gray-600/90 font-semibold">E-Mail Address</label>
    <input 
        type="email" 
        class="w-full px-1 py-[2px] border border-solid border-gray-700/30 rounded-sm focus:outline-blue-200"
        formControlName="email"
        autocomplete="off"
    >


    <label class="text-gray-600/90 font-semibold">Password</label>
    <input 
        type="password" 
        class="w-full px-1 py-[2px] border border-solid rounded-sm focus:outline-blue-200"
        [ngClass]="{
            'border-gray-700/30': !formError.password,
            'border-red-500': formError.password
        }"
        formControlName="password"
    >

    <label class="text-gray-600/90 font-semibold">
        Retype Password
    </label>
    <input 
        type="password" 
        class="w-full px-1 py-[2px] border border-solid rounded-sm focus:outline-blue-200"
        [ngClass]="{
            'border-gray-700/30': !formError.retypedPassword,
            'border-red-500': formError.retypedPassword
        }"
        formControlName="retypedPassword"
    >

    <p class="text-red-500"
        *ngIf="formError.firstName || formError.lastName || formError.email || formError.password || isFailedRegister"
    >
        {{ errorMessage }}
    </p>

    <p class="text-green-600 font-semibold"
        *ngIf="isSuccessRegister"
    >
       {{ isSuccessRegister ? 'The user is successfully register!' : ''}}
    </p>

    <button
        type="submit"
        class="w-full mt-5 py-3 bg-blue-400 text-white font-bold rounded-md hover:bg-blue-600 transition-colors"
    >
        <img 
            class="absolute w-6 animate-spin left-[38%]" src="assets/icons/Circle.svg"
            *ngIf="isLoading" 
        />

        <p class="ml-2">Register</p>
    </button>
</form>