<app-navigation></app-navigation>
<div style="display: flex; justify-content: center; min-height: 600px;">
<div style="background-color: lightblue; text-align: left; margin: 50px; padding: 100px;">
    <form *ngIf="!submitted">
        <label for="street">Street Address: </label><br>
        <input name="street" type="text" [(ngModel)]="street"><br>
        <label for="city">City: </label><br>
        <input name="city" type="text" [(ngModel)]="city"><br>
        <label for="state">State: </label><br>
        <input name="state" type="text" [(ngModel)]="state"><br>
        <label for="zip">Zip Code: </label><br>
        <input name="zip" type="text" [(ngModel)]="zip"><br>
        <label for="card">Card Number: </label><br>
        <input name="card" type="text" [(ngModel)]="card"><br>
        <label for="cvv">CVV: </label><br>
        <input name="cvv" type="text" [(ngModel)]="cvv"><br>
        <label for="date">Expiration Date: </label><br>
        <input name="date" type="text" [(ngModel)]="date"><br>
        <h1>Total: {{total|currency}}</h1>
        <input name="submit" type="button" (click)="submitOrder()" value="Confirm and submit order." style="background-color: darkblue; color: white; padding: 4px;">
    </form>
    <div>
        <h1 *ngIf="submitted">Order Submitted!</h1>
    </div>
</div>
</div>
<app-footer></app-footer>