<div class = "page">
    <div class="flex" id="wrapper">

        <div id="img">
            <img [src]='"/assets" + testProduct.image_url' alt="product Image" width="300px" />
        </div>

        <div id="information">
            <h1 id="name">{{testProduct.name}}</h1>
            <p>{{testProduct.description}}</p>
            <div *ngIf="testProduct.price == testProduct.normal_price" id="price"><span>${{testProduct.price}}</span></div>
            <div *ngIf="testProduct.price != testProduct.normal_price" id="price">
                <span><s>${{testProduct.normal_price}}</s></span><span id="sale">${{testProduct.price}}</span></div>
            <form id="cartmanager">
                <input type="number" id="quantity" name="quantity" min="1" max="10" [(ngModel)]="value" />
                <button (click)="addToCart()" id="addToCart">Add To Cart</button>
            </form>
        </div>

    </div>
</div>
