<!--<ng-container *ngFor="let product of products">
    <app-cart-item [name]="product.name" [price]="product.price" [image_url]="product.image_url">
        
    </app-cart-item>
</ng-container>
<div>Total: ${{total}}</div>-->

<div class = "page">
    <div id="wrapper" style="background-color: lightblue; padding: 20px; text-align: center; margin: 50px;">
        <ng-container *ngFor="let product of (products | keyvalue)">
            <app-cart-item [name]="product.key.name" [price]="product.key.price" [image_url]="product.key.image_url" [quantity]="product.value">
            </app-cart-item>
        </ng-container>
        <h1>Total: {{total| currency}}</h1>
        <a href="/checkout" id="addToCart" style="background-color:darkblue; color: white; padding: 4px; text-align: center;">Proceed to Checkout</a>
    </div>
</div>